.card1 {
    margin-left: 20px;

}

.sami {
    width: 350px;
}

.card3 {
    margin-left: 70px;
}

.prado {
    width: 450px;
    margin-left: 500px;
}

.pajero {
    width: 450px;
}

.meil {
    margin-left: 600px;
}