.car {
    margin-left: 40px;
    margin-top: 20px;
}

.card1 {
    margin-left: 10px;
    height: 1180px;
    width: 300px;
    margin-top: 30px;
}

.card3 {
    margin-top: 700px;
    margin-left: 10px;
    width: 300px;
    height: 1000px;
    margin-bottom: 40px;

}

.sami {
    transform: translateY(50px);
    margin-left: 2px;
    width: 300px;
}

.card5 {
    margin-top: 500px;
}

.prado {
    transform: translateY(550px);
    margin-left: 2px;
    width: 300px;
}

.pajero {
    transform: translateY(450px);
    margin-left: 2px;
    width: 300px;
}
.card5 {
    height: 100%;
    width: 100%;
}

.mesame {
    margin-left: 150px;
    transform: translateY(-525px);
}

.meil {
    transform: translateY(-500px);
    margin-left: 60px;
    font-size: 17px;
}

.number {
    margin-left: 80px;
    transform: translateY(-500px);
    font-size: 17px;
}

.TBC {
    margin-left: 90px;
    transform: translateY(400px);
}
.HOME{
    margin-left: 40px;
}
.about{
    margin-left: 280px;
    transform: translateY(-315px);
}
.card5{
    height: 600px;
}
