.card1 {
    margin-left: 40px;
}

.card3 {
    margin-top: 700px;

}

.sami {
    margin-left: 10px;
    margin-top: 20px;
    transform: translateY(80px);
    width: 600px;
    height: 250px;
}

.prado {
    transform: translateY(450px);
    margin-left: -50px;
}

.card5 {
    margin-top: 800px;
}

.pajero {
    transform: translateY(450px);
    margin-left: -50px;
}

.meil {
    margin-left: 550px;
    font-size: 15px;
}

.number {
    margin-left: 550px;
    font-size: 20px;
}

.TBC {
    margin-left: 550px;
}