.xedi {
    width: 100%;
}

.card1 {
    width: 500px;
    margin-left: 20px;
}
.we{
    margin-top: 100px;
}
.ndoba{
    margin-top: 40px;
}

.link {
    margin-left: 550px;
    transform: translateY(200px);
    width: 450px;
  
}


.imereti {
    margin-left: 550px;
    transform: translateY(200px);
    width: 450px;
}

.card2 {
    margin-left: 20px;
    width: 600px;
}

.turistebi {
    margin-left: 620px;
    transform: translateY(-285px);
    width: 380px;
}

.meil {
    margin-left: 600px;
}