.card1{
    margin-left: 40px;
    width: 300px;
   
}
.we{
 margin-top: 380px;

}
.ndoba{
    margin-top: 20px;
    width: 100%;
}


.card2{
    margin-left: 40px;
    width: 300px;
    height: 450px;
}
.card5{
    margin-top: 950px;
}
.link{
  transform: translateY(1800px);
  margin-left: 40px;
  width: 300px;
  margin-top: 13px;
}
.imereti{
      transform: translateY(2100px);
  margin-left: -300px;
  width: 300px;
  margin-top: 13px;
}
.turistebi{
  transform: translateY(650px);
  margin-left: 5px;
  width: 300px;
 
}
.chat {
    margin-left: 10px;
}

.card5 {
    height: 100%;
    width: 100%;
}

.mesame {
    margin-left: 150px;
    transform: translateY(-525px);
}

.meil {
    transform: translateY(-500px);
    margin-left: 60px;
    font-size: 17px;
}

.number {
    margin-left: 80px;
    transform: translateY(-500px);
    font-size: 17px;
}

.TBC {
    margin-left: 90px;
    transform: translateY(400px);
}
.HOME{
    margin-left: 40px;
}
.about{
    margin-left: 280px;
    transform: translateY(-315px);
}
.card5{
    height: 600px;
}
