.card1{
    margin-left:50px;

}
.link {
    margin-left: 30px;
    transform: translateY(940px);
    width: 230px;
}
.ndoba{
    margin-top: 20px;
}
.we{
    margin-top:300px;
}

.imereti {
    margin-left: 20px;
    transform: translateY(970px);
    width: 230px;
}
.card5{
    transform: translateY(240px);
}
.turistebi{
        margin-left: 480px;
    transform: translateY(70px);
    width: 230px;
    height: 250px;
}
.meil {
    margin-left: 550px;
    font-size: 15px;
}

.number {
    margin-left: 550px;
    font-size: 20px;
}

.TBC {
    margin-left: 550px;
}