.card5 {
    height: 100%;
    width: 100%;
}

.mesame {
    margin-left: 150px;
    transform: translateY(-525px);
}

.meil {
    transform: translateY(-500px);
    margin-left: 60px;
    font-size: 17px;
}

.number {
    margin-left: 80px;
    transform: translateY(-500px);
    font-size: 17px;
}

.TBC {
    margin-left: 90px;
    transform: translateY(400px);
}

.HOME {
    margin-left: 40px;
}

.about {
    margin-left: 280px;
    transform: translateY(-315px);
}

.card5 {
    height: 600px;
}