.card1 {
    margin-left: 70px;
    font-size: 20px;
}

.chat {
    width: 190px;
    margin-left: 62px;

}

.meil {
    margin-left: 550px;
    font-size: 15px;
}

.number {
    margin-left: 550px;
    font-size: 20px;
}

.TBC {
    margin-left: 550px;
}