.sawyisi {
    height: 600px;
    width: 100%;
}

.jalaurta {
    margin-left: 50px;
}

.card1 {
    margin-left: 50px;
    font-size: 20px;
}

.chat {
    width: 280px;
}

.meil {
    margin-left: 600px;
}