.siaxle{
    margin-left:200px;
}
.card1{
    margin-left: 50px;
    
}
.prado1{
   width: 130px;
   margin-top: -200px;
   margin-left: 400px;
}
.card2{
margin-left: 550px;
}
.card3{
    margin-top: 60px;
    margin-left: 70px;
}
.Mitsubishi{
  width: 150px;
}
.patrol{
  width: 200px;
  margin-left: 700px;
  margin-top: 200px;
}
.sami{
    width: 300px;
}
.meil {
    margin-left: 600px;
}