.siaxle{
    margin-left: 20px;
    font-size: 50px;
}
.card1{
    margin-left: 5px;
    width: 300px;
}
.card3{
    margin-top: 400px;
    margin-left: 5px;
    width: 320px;
height: 940px;

}
.card2{
     margin-left: 5px;
    width: 300px;
    margin-top: 50px;
    height: 230px;
}  
.sami{
    transform: translateY(1100px);
    width: 320px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.Mitsubishi{
    margin-top:300px ;
    margin-left: 5px;
    width: 320px;
}
.prado1{
    margin-left: 5px;
    margin-top: 350px;
    width: 320px;
}
.patrol{
    margin-left: 5px;
     width: 320px;
     margin-top: 250px;
}
.card5{
    margin-top: 1150px;
}
.card5 {
    height: 100%;
    width: 100%;
}

.mesame {
    margin-left: 150px;
    transform: translateY(-525px);
}

.meil {
    transform: translateY(-500px);
    margin-left: 60px;
    font-size: 17px;
}

.number {
    margin-left: 80px;
    transform: translateY(-500px);
    font-size: 17px;
}

.TBC {
    margin-left: 90px;
    transform: translateY(400px);
}

.HOME {
    margin-left: 40px;
}

.about {
    margin-left: 280px;
    transform: translateY(-315px);
}

.card5 {
    height: 600px;
}
