.siaxle{
    margin-left: 100px;
}
.card1{
    margin-left: 20px;
    height: 250px;
    width: 300px;
}
.card2{
  margin-left: 400px;
    height: 250px;
    width: 300px;
    margin-top: -220px;
}
.card3{
    margin-top: 100px;
    width: 600px;
    height: 450px;
    margin-left: 20px;
}
.prado1{
    margin-top: 100px;
    margin-left:220px ;
}
.patrol{
margin-left: 450px;
  margin-top: -300px;
}
.Mitsubishi{
      margin-top: 20px;

}
.sami{
    margin-top: 100px;
    width: 243px;
    margin-top: 550px;
    margin-left: 10px;
}

.meil {
    margin-left: 550px;
    font-size: 15px;
}

.number {
    margin-left: 550px;
    font-size: 20px;
}

.TBC {
    margin-left: 550px;
}